
.vet-checkup {
    background-color: #CFC;
}

.sub-text {
    font-size: 12px;
    text-align: center;
    font-style: italic;
}

.list-group-item {
    cursor: pointer;
}

.badge {
    margin: auto 3px;
}