
<div class="container" *ngIf="pet">
    <p><a routerLink="/dashboard"><i class="fa fa-chevron-left"></i> Return to the dashboard</a></p>
    <h2>{{ pet.name }} the {{ pet.breed }} {{ pet.species }}</h2>

    <p>Birthdate: {{ pet.birthDate | date:'longDate' }}</p>

    <div *ngIf="checkups && checkups.length === 0">
        <div class="card">
            <div class="card-body">
                <p>You currently have no checkups for this pet!</p>
                <p><a routerLink="/addcheckup/{{ pet._id }}"><i class="fa fa-plus"></i> Add a new checkup</a></p>
            </div>
        </div>
    </div>

    <div *ngIf="checkups && checkups.length > 0">
        <p><a routerLink="/addcheckup/{{ pet._id }}"><i class="fa fa-plus"></i> Add a New Checkup</a></p>

        <ul class="list-group">
            <li *ngFor="let checkup of checkups"
                class="list-group-item"
                (click)="linkToCheckup(checkup._id)">
                <div class="row">
                    <div class="col text-left"><i class="fa fa-calendar"></i> {{ checkup.date | date:'shortDate' }}</div>
                    <div class="col text-right"></div> {{ checkup.weight }} {{ pet.weightUnits }}
                </div>
                <div class="sub-text" *ngIf="checkup.vet">
                    This checkup was performed by a veterinarian.
                </div>
                <div class="sub-text" *ngIf="cas.getAttributes(checkup).length > 0">
                    Health attributes recorded on this checkup:
                </div>
                <div class="text-center">
                    <p style="font-size:125%"><span class="badge badge-info"
                        *ngFor="let attribute of cas.getAttributes(checkup)">{{ attribute }}</span></p>
                </div>
            </li>
        </ul>
    </div>

    <div class="row edit-delete">
        <div class="col">
            <button class="btn btn-primary" routerLink="/editpet/{{ pet._id }}">
                <i class="fa fa-pencil"></i> Edit {{ pet.name }}
            </button>
        </div>
        <div class="col text-right">
            <button class="btn btn-primary" (click)="onDeleteAttempt()" *ngIf="!deleteWarning">
                <i class="fa fa-times"></i> Delete {{ pet.name }}
            </button>
            <button class="btn btn-danger" (click)="onDelete()" *ngIf="deleteWarning">
                <i class="fa fa-times"></i> Click to Confirm
            </button>
        </div>
    </div>

</div>