<div class="container text-center">
    <div class="alert alert-danger" *ngIf="message">
        Error: {{ message }}
    </div>
    <form [formGroup]="form"
        (ngSubmit)="onSubmit()">
        <h2>Sign Up</h2>
        <p>Please enter your details</p>

        <div class="form-group">
            <label for="email">Email Address
                <div class="my-alerts"
                    *ngIf="email.invalid && email.touched">
                    <p *ngIf="email.errors.required">Email is required</p>
                    <p *ngIf="email.errors.email"> Provide a valid email address</p>
                </div>
                <input type="text"
                    placeholder="Email"
                    formControlName="email"
                    id="email"
                    class="form-control"
                    [class.invalid-input]="email.errors && email.touched"
                    required>
            </label>
        </div>

        <div class="form-group">
            <label for="firstName">First Name
                <div class="my-alerts"
                    *ngIf="firstName.invalid && firstName.touched">
                    <p *ngIf="firstName.errors.required">First name is required</p>
                </div>
                <input type="text"
                    placeholder="First Name"
                    formControlName="firstName"
                    id="firstName"
                    class="form-control"
                    [class.invalid-input]="firstName.errors && firstName.touched"
                    required>
            </label>
        </div>

        <div class="form-group">
            <label for="password">Password
                <div class="my-alerts"
                    *ngIf="password.invalid && password.touched">
                    <p *ngIf="password.errors.required">Password is required</p>
                    <p *ngIf="password.errors.minlength">
                        Password must be at least {{ password.errors.minlength.requiredLength }} characters long</p>
                </div>
                <input type="password"
                    placeholder="Password"
                    formControlName="password"
                    id="password"
                    class="form-control"
                    [class.invalid-input]="password.errors && password.touched"
                    required>
            </label>
        </div>

        <button class="btn btn-primary"
            [disabled]="form.invalid">Register</button>
    </form>

    <div>
        <p>
            Already registered? <a routerLink="/login">Login Here!</a>
        </p>
    </div>
</div>